<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>These are my blog post about my coding experience which I shall keep updated if I have my site active once it is completed.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Sundbeck"><%= fa_icon "github" %></a></li>
    </ol>
  </div>
</div>