<h1>Contact me</h1>
<p>Cell phone <%= number_to_phone "8017085555" %></p>

<p><a href="mailto:kevinsundbeck13@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3015.3388852208354!2d-111.89842968417526!3d40.90831487931104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f849afc12a17%3A0x8db1744a54d47e09!2s1754+N+635+W%2C+West+Bountiful%2C+UT+84087!5e0!3m2!1sen!2sus!4v1501175297093" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

